// =========================================================================================
//     File Name: demo.scss
//     Description: CSS used for demo purpose only. Remove this css from your project.
//     ----------------------------------------------------------------------------------------
//     Item Name: Frest HTML Admin Template
//     Version: 1.0
//     Author: PIXINVENT
//     Author URL: http://www.themeforest.net/user/pixinvent
// ==========================================================================================

/* Demo Css */
/* -------- */

// Font Specific Page Css
.fonticon-container {
  > .fonticon-wrap {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 1rem;
    > i {
      font-size: 2.28rem;
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover {
    i {
      color: $primary;
      font-size: 2.9rem;
      transform: scale(1.1);
    }
  }
  > .fonticon-classname,
  > .fonticon-unit {
    display: block;
    font-size: 1.2rem;
    text-transform: lowercase;
    margin-top: 0.3rem;
    font-weight: 400;
  }
}
